          <div class="section">
            <div class="section-heading">
              <h2><span class="heading-strong">Appliance Repair Done Right:</span><br />Quality Service You Can Trust</h2>
              <p>
                A broken appliance can throw off your whole day. At <span data-cfg="brandName">Appliance Helpers</span>,
                we aim to get things fixed quickly, professionally, and at
                a fair price.
              </p>
            </div>

            <ul class="benefit-list">
              {{benefits}}
            </ul>
          </div>
