  <footer class="site-footer">
    <div class="container">
      <div class="footer-accordion">
        <div class="footer-accordion-label">Company</div>
        <div class="footer-links">
          {{footerLinks}}
        </div>
      </div>

      <div class="footer-accordion">
        <div class="footer-accordion-label">Disclaimer</div>
        <p class="footer-disclaimer-text">
          {{disclaimer}}
        </p>
      </div>

      <p class="footer-copyright">&copy; 2026 <span data-cfg="brandName">Appliance Helpers</span>. All rights reserved.</p>
    </div>
  </footer>
