  <header class="site-header">
    <div class="container">
      <a class="brand" href="./">
        <img
          class="brand-logo"
          src="assets/images/appliance-helpers-logo.webp"
          alt="Appliance Helpers"
          width="800"
          height="247"
        />
      </a>
      <div class="header-right">
        <span class="header-availability">
          <span class="header-online-dot" aria-hidden="true"></span>
          <span data-cfg="availabilityBadge">Open 24/7</span>
        </span>
        <a
          id="header-call-button"
          class="header-phone"
          href="tel:+18005555555"
          data-cfg-href="phoneHref"
          data-call-source="header"
        >
          <span class="visually-hidden">Call </span>
          <span class="header-phone-number" data-cfg="phoneDisplay">(800) 555-5555</span>
          <span class="header-online-dot header-online-dot--inline" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </header>
