  <div class="mobile-call-bar">
    <a
      id="mobile-sticky-call-button"
      class="mobile-call-bar-main"
      href="tel:+18005555555"
      data-cfg-href="phoneHref"
      data-call-source="mobile-sticky"
    >
      <span class="mobile-call-bar-icon">
        <svg class="icon icon-filled icon-phone-shake" aria-hidden="true"><use href="#icon-phone"></use></svg>
      </span>
      Call <span data-cfg="phoneDisplay">(800) 555-5555</span>
    </a>
    <p class="mobile-call-bar-sub">
      Need Help Fast? <span data-cfg="availabilityClaim">Same &amp; Next-Day Repairs Available</span> &mdash; Call Now!
    </p>
  </div>
